.form_div{
    border-bottom: 3px solid rgb(243, 243, 243);
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;
    position: relative;
    background: #fffefe;
    
}
.form_div input{
    width: 80%;
    height: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
    
}
.form_div button{
   background: rgb(24, 56, 116);
   width: 20%;
   position: absolute;
   height: 100%;
   color: #fff;
   font-size: 20px;
   margin-top: 3px;
}

.reviewCart{
    height: auto;
    position: relative;
    border: 2px solid rgb(239, 228, 228);
    padding: 10px;
    box-shadow: 4px 3px 10px  rgb(225, 222, 222);
    border-radius: 10px;
    margin-bottom: 30px;
}
.reviewCart img{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 40%;
    margin-top: -8%;
    
}
.reviewCart .name{
    font-size: 14px;
    color: green;
    font-weight: bold;
    
}
.reviewCart .reviewtext{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}